# Python/Backend
__pycache__/
*.pyc
venv/
.env
.env.*
!.env.example

backend/.env
backend/.env.*
!backend/.env.example

# Node/Frontend
node_modules/
build/
.DS_Store

# IDE-specific
.idea/
.vscode/

